<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="io.github.hidroh.materialistic.askhn">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_askhn">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application android:hasCode="true">
        <activity
            android:name="io.github.hidroh.materialistic.askhn.AskActivity"
            android:label="@string/title_activity_ask" >
        </activity>
    </application>
</manifest>

